
<style >div.bonche
{
    padding-top: 1cm;
    padding-bottom: 1cm;
}
</style>


<div class="bonche">
    <a ng-click="createNewExamination()" class="btn btn-info">new examination</a>
</div>
<div class="container">







    <table class="table table-condensed table-bordered table-hover tableTop">
        <thead>

        <!--<tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="complete examination search" type="text"/>
            </th>
        </tr>-->
        <tr>
            <!--<th st-sort="id">id</th>-->
            <th st-sort="Examination_name"> name</th>
            <th st-sort="stream">stream</th>

            <th st-sort="actions">actions</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="examination in examinations">
            <!--<td>{{ examination.id }}</td>-->

            <td>{{ examination.examination_name }}</td>
             <td>{{ examination.stream_ }}</td>
            <td>
                <a ng-click="editExamination(examination.id)" class="btn btn-info">{{examination.parent}}</a>
                <a ng-click="deleteExamination(examination.id)" class="btn btn-small btn-danger">delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

