<style>
.input-group{
    padding-bottom: 1cm;
    /*padding-top: 1cm*/
;

}


</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3">
    <h1>Parent detail</h1>

    <form novalidate="novalidate" class="form-horizontal form-inline">

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="first_name"></span>
            <input type="text" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" ng-model="parent.first_name">
        </div>




        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="second_name"></span>
            <input type="text" class="form-control" placeholder="surname" aria-describedby="second_name" ng-model="parent.second_name">
        </div>


        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="last_name"></span>
            <input type="text" class="form-control" placeholder="middle name" aria-describedby="last_name" ng-model="parent.last_name">
        </div>



        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="email"></span>
            <input type="email" class="form-control" placeholder="email" aria-describedby="email" ng-model="parent.email">
        </div>


        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="id_number"></span>
            <input type="number" class="form-control" placeholder="ID Number" aria-describedby="id_number" ng-model="parent.id_number">
        </div>


        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="phone_number"></span>
            <input type="number" class="form-control" placeholder="phone" aria-describedby="phone_number" ng-model="parent.phone_number">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="occupation"></span>
            <input type="text" class="form-control" placeholder="occupation" aria-describedby="occupation" ng-model="parent.ocuupation">
        </div>


        <div class="input-group input-group-lg">

            <label>Parenity</label>
            <select class="form-group input-lg">

                <option class="form-control input-lg" ng-repeat="patanety in parenities" value="{{patanety}}" ng-model="parent.parenity">{{patanety}}</option>
            </select>
        </div>


        <!--<div class="input-group input-group-lg">
            <label>student</label>
            <select
                    class="form-control input-lg"
                    ng-model="parent.student_id"

                    ng-options="value.id as value.last_name  group by value.first_name for value in students">

                <option>{{last_name }}</option>
            </select>
        </div>-->




        <div class="control-group">
            <div class="controls">

                <a ng-click="cancel()" class="btn btn-small btn-info">cancel</a>


                <!-- parent-creation.html: -->
                <a ng-click="createNewParent()" class="btn btn-small btn-primary">create  parent</a>
            </div>
        </div>
    </form>
</div>