<div class="container">
    <h1>Parent detail</h1>


    <div ng-repeate="parent in parent">first name : {{parent.first_name}}</div>


    <div ng-repeate="parent in parent">Second name : {{parent.second_name}}</div>

    <div ng-repeate="parent in parent">Last name : {{parent.last_name}}</div>

    <div ng-repeate="parent in parent"> phone Number : {{parent.phone_number}}</div>


    <div ng-repeate="parent in parent"> ID Number : {{parent.id_number}}</div>

    <div ng-repeate="parent in parent">  Occupation : {{parent.occupation}}</div>


    <div ng-repeate="parent in parent">  Student : {{parent.student}}</div>


    <div ng-repeate="parent in parent">  Parenity : {{parent.parenity}}</div>




    <div class="control-group">
        <div class="controls">

            <a ng-click="cancel()" class="btn btn-small">Back</a>



        </div>
    </div>
    </div>




    <!--<form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="parent.first_name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">second name:</label>
            <div class="controls">
                <input type="text" id="inputSecondName" ng-model="parent.second_name"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">last name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="parent.last_name"/>
            </div>
        </div>



    </form>
</div>
-->
