<div class="container">
    <a ng-click="createNewParent()" class="btn btn-info">new parent</a>
</div>
<div class="container">




    <table class="table">
        <tbody>


        <tr>


            <form class="form-control">

                <input st-search="" class="input-medium search-query" placeholder="complete parent search" type="text"/>

            </form>


        </tr>
        </tbody>
    </table>


    <table class="table table-condensed table-bordered table-hover tableTop">
        <thead>

        <!--<tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="complete parent search" type="text"/>
            </th>
        </tr>-->
        <tr>
            <!--<th st-sort="id">id</th>-->
            <th st-sort="firstName">first name</th>
            <th st-sort="last_name">last name</th>
            <th st-sort="second_name">second name </th>
            <th st-sort="Id_number">Id number</th>
            <th st-sort="class">phone_number</th>
            <th st-sort="actions">actions</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="parent in parents">
            <!--<td>{{ parent.id }}</td>-->
            <td>{{ parent.first_name }}</td>
            <td>{{ parent.last_name }}</td>
            <td>{{ parent.second_name }}</td>
            <td>{{ parent.id_number }}</td>
            <td>{{ parent.phone_number }}</td>
            
            <!-- <td>{{ parent.class }}</td>-->
            <td>
                <a ng-click="editParent(parent.id)" class="btn btn-info">{{parent.parent}}</a>
                <a ng-click="deleteParent(parent.id)" class="btn btn-small btn-danger">delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

