
<style>
    .container-fluid{
        /*padding-top: 3cm;*/
    }

    div.bonche {
        padding-top: 3cm;
    }

    div.input-bonche {

        padding-bottom: 0.5cm;
        padding-top: 0.5cm;

    }

    div.bonche-button {

        padding-bottom: 0.5cm;
        padding-top: 0.5cm;
    }

    div.controls{
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;
    }
</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3 bonche">
    <h1>Secretaries' detail</h1>

    <form novalidate="novalidate">
        <!--<div class="form-group panel-body">
            <label class="controls" for="inputFirstName">First name:</label>
            <div class="form-group col-lg-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="secretary.first_name"/>
            </div>
        </div>-->


        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="first_name"></span>
            <input type="text" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" ng-model="secretary.first_name">
        </div>



        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="second_name"></span>
            <input type="text" class="form-control" placeholder="second name" aria-describedby="second_name" ng-model="secretary.second_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="last_name"></span>
            <input type="text" class="form-control" placeholder="last name" aria-describedby="last_name" ng-model="secretary.last_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="email"></span>
            <input type="text" class="form-control" placeholder="email" aria-describedby="last_name" ng-model="secretary.email">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tags" id="id_number"></span>
            <input type="number" class="form-control" placeholder="Id number" aria-describedby="id_number" ng-model="secretary.id_number">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tags" id="phone_number"></span>
            <input type="number" class="form-control" placeholder="phone number" aria-describedby="id_number" ng-model="secretary.phone_number">
        </div>



        <!--<div >
            <p>selected item is : {{selectedItem}}</p>
            <select ng-model="patenity">
                <option ng-repeat="patanety in parenities" value="{{patanety}}">{{patanety}}</option>
            </select>
        </div>-->


        <!--<div>
            <label>STUDENT</label>
            <select
                    class="form-control input-lg"
                    ng-model="secretary.secretary"

                    ng-options="value.name as value.last_name  group by value.first_name for value in secretaries">

                <option>--</option>
            </select>
        </div>
-->







        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- secretary-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small btn-info">cancel</a>


                <!-- secretary-creation.html: -->
                <a ng-click="createNewSecretary()" class="btn btn-small btn-primary">create new secretary</a>
            </div>
        </div>
    </form>
</div>