
<div class="container">


    <style >div.bonche
    {
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
    </style>

    <div class="bonche">
        <a ng-click="createNewSecretary()" class="btn btn-primary">new secretary</a>
    </div>

    <table class="table">
        <tbody>


        <tr>


            <form class="form-control">

                <input st-search="" class="input-medium search-query" placeholder="complete secretary search" type="text"/>

            </form>


        </tr>
        </tbody>
    </table>


    <table class="table table-condensed table-bordered table-hover tableTop">
        <thead>

        <!--<tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="complete secretary search" type="text"/>
            </th>
        </tr>-->
        <tr>
            <!--<th st-sort="id">id</th>-->
            <th st-sort="firstName">first name</th>
            <th st-sort="second_name">second name</th>
            <th st-sort="last">last name</th>
            <th st-sort="class">phone number</th>
            <th st-sort="actions">actions</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="secretary in secretaries">
            <!--<td>{{ secretary.id }}</td>-->
            <td>{{ secretary.first_name }}</td>
            <td>{{ secretary.second_name }}</td>
            <td>{{ secretary.last_name }}</td>
            <td>{{ secretary.phone_number }}</td>
            <!-- <td>{{ secretary.class }}</td>-->
            <td>

                <a ng-click="editSecretary(secretary.id)" class="btn btn-info">Update</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

