
<style>
    .container-fluid{
        /*padding-top: 3cm;*/
    }

    .boncherow{

        padding-top: 1cm;
    }



    div.input-bonche {

        padding-bottom: 0.5cm;
        padding-top: 0.5cm;

    }

    .button-bonche{

        background-color: #ECF0F1;

        width: 2cm;

        padding-right: 1cm;
    }


    .bonche-row{

        padding-bottom: 4cm;
    }


</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3">
    <h2>Teacher's detail</h2>

    <form novalidate="novalidate">
        <!--<div class="form-group panel-body">
            <label class="controls" for="inputFirstName">First name:</label>
            <div class="form-group col-lg-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="teacher.first_name"/>
            </div>
        </div>-->


        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="first_name"></span>
            <input type="text" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" ng-model="teacher.first_name">
        </div>



        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="second_name"></span>
            <input type="text" class="form-control" placeholder="second name" aria-describedby="second_name" ng-model="teacher.second_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="last_name"></span>
            <input type="text" class="form-control" placeholder="last name" aria-describedby="last_name" ng-model="teacher.last_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tags" id="id_number"></span>
            <input type="number" class="form-control" placeholder="Id number" aria-describedby="id_number" ng-model="teacher.id_number">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tags" id="phone_number"></span>
            <input type="number" class="form-control" placeholder="phone number" aria-describedby="id_number" ng-model="teacher.phone_number">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="email"></span>
            <input type="text" class="form-control" placeholder="email" aria-describedby="email" ng-model="teacher.email">
        </div>




<div class="bonche-row">




        <div class="col-xs-3">

            <h4 class="demo-panel-title">first major</h4>
            <select class="form-control select select-primary input-lg button-bonche" ng-model="teacher.major_one"  >

                <option ng-repeat="major_one in majors" value="{{major_one}}" >{{major_one}}</option>
            </select>
        </div>


        <div class="col-xs-3">

            <h4 class="demo-panel-title">second major</h4>
            <select class="form-control select select-primary input-lg button-bonche" ng-model="teacher.major_two"  >

                <option  ng-repeat="major_two in majors" value="{{major_two}}" >{{major_two}}</option>
            </select>
        </div>


        <div class="col-xs-3">

            <h4 class="demo-panel-title">third major</h4>
            <select class="form-control select select-primary input-lg button-bonche" ng-model="teacher.major_three"  >

                <option ng-repeat="major_three in majors" value="{{major_three}}" >{{major_three}}</option>
            </select>
        </div>


        </div>











        <div class="row boncherow">
            <div class="col-md-3 col-md-offset-1">
                <!-- teacher-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small btn-info">cancel</a>

            </div>
            <div class="col-md-3 col-md-offset-4">
                <!-- teacher-creation.html: -->
                <a ng-click="createNewTeacher()" class="btn btn-small btn-primary">create</a>
            </div>
        </div>
    </form>
</div>