<style>


    .container-fluid{
        /*padding-top: 3cm;*/
    }

    div.bonche {
        padding-top: 3cm;
    }

    div.input-bonche {

        padding-bottom: 0.5cm;
        padding-top: 0.5cm;

    }

    div.bonche-button {

        padding-bottom: 0.5cm;
        padding-top: 0.5cm;
    }

    div.controls{
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;
    }

</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3 bonche">
    <h1>Parent's detail</h1>

    <form novalidate="novalidate">

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="first_name"></span>
            <input type="text" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" ng-model="parent.first_name">
        </div>




        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="second_name"></span>
            <input type="text" class="form-control" placeholder="surname" aria-describedby="second_name" ng-model="parent.second_name">
        </div>


        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="last_name"></span>
            <input type="text" class="form-control" placeholder="middle name" aria-describedby="last_name" ng-model="parent.last_name">
        </div>



        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="email"></span>
            <input type="text" class="form-control" placeholder="email" aria-describedby="email" ng-model="parent.email">
        </div>


        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="id_number"></span>
            <input type="number" class="form-control" placeholder="ID Number" aria-describedby="id_number" ng-model="parent.id_number">
        </div>


        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user" id="phone_number"></span>
            <input type="number" class="form-control" placeholder="phone" aria-describedby="phone_number" ng-model="parent.phone_number">
        </div>


        <div class="input-bonche form-group input-icon">

            <label>Parenity</label>
            <select class="form-group input-lg">

                <option class="form-control input-lg" ng-repeat="patanety in parenities" value="{{patanety}}" ng-model="parent.parenity">{{patanety}}</option>
            </select>
        </div>


        <div class="input-bonche form-group input-icon">
            <label>student</label>
            <select
                    class="form-control input-lg"
                    ng-model="parent.student"

                    ng-options="value.last_name as value.last_name  group by value.first_name for value in students">

                <option>{{last_name }}</option>
            </select>
        </div>




        <div class="control-group">
            <div class="controls">
                <!-- parent-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small btn-info">cancel</a>
                <a ng-click="updateParent()" class="btn btn-small btn-primary">update parent</a>


            </div>
        </div>
    </form>
</div>