
<style>
    .input-group {

        padding-bottom: 0.5cm;

    }

    .container-fluid{
        /*padding-top: 3cm;*/
    }
</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3">
    <h1> detail</h1>

    <form novalidate="novalidate" class="form-horizontal form-inline">
        <!--<div class="form-group panel-body">
            <label class="controls" for="inputFirstName">First name:</label>
            <div class="form-group col-lg-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="student.first_name"/>
            </div>
        </div>-->


        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="first_name"></span>
            <input type="text" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" ng-model="student.first_name">
        </div>



        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="second_name"></span>
            <input type="text" class="form-control" placeholder="second name" aria-describedby="second_name" ng-model="student.second_name">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" id="last_name"></span>
            <input type="text" class="form-control" placeholder="last name" aria-describedby="last_name" ng-model="student.last_name">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-tags" id="registration_number"></span>
            <input type="number" class="form-control" placeholder="registration number" aria-describedby="registration_number" ng-model="student.registration_number">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-calendar" id="date_of_birth"></span>
            <input type="date" class="form-control" placeholder="date of birth " aria-describedby="date_of_birth" ng-model="student.date_of_birth">
        </div>

        <div class="input-group input-group-lg">

            <span class="input-group-addon glyphicon glyphicon-user" >class</span>
            <select class="form-group input-lg">

                <option class="form-control input-lg" ng-repeat="class in classes" value="{{class}}" ng-model="student.class">{{class}}</option>
            </select>
        </div>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default">Claass </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu " ng-repeat="class in classes"   ng-model="student.class">
                <!-- Dropdown menu links -->

               {{class}}
            </ul>
        </div>

     <!--   <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-education" id="class"></span>
            <input type="text" class="form-control" placeholder="class " aria-describedby="class" ng-model="student.class">
        </div>
-->

        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-user" >Parent</span>
            <select
                    class="form-control input-lg"
                    ng-model="student.parent"

                    ng-options="value.second_name as value.second_name  group by value.first_name for value in parents">

                <option>--</option>
            </select>
        </div>







        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- student-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small btn-primary">cancel</a>


                <!-- student-creation.html: -->
                <a ng-click="createNewStudent()" class="btn btn-small btn-primary">create new student</a>
            </div>
        </div>
    </form>
</div>