<form class="form-vertical">

    <div class="form-group">
        <div class="row">
        <div class="col-xs-8">
            <div class="input-group">
        <label for="first_name"> first Name</label>
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control input-lg" id="inputfirstName" placeholder="Email">
            </div>
        </div>

        </div>

    </div>

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div> 

</form>