
<style>


    .container-fluid{
        /*padding-top: 3cm;*/
    }

    .button-bonche{

        background-color: #ECF0F1;

        width: 2cm;
    }
    .input-bonche-2{

        padding-top: 0.5cm;
        /*padding-bottom: 0.5cm;;*/
    }




</style>

<div class="container-fluid control-label col-md-6 col-md-offset-3">
    <h2>Student's Detail</h2>

    <form novalidate="novalidate">
        <!--<div class="form-group panel-body">
            <label class="controls" for="inputFirstName">First name:</label>
            <div class="form-group col-lg-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="student.first_name"/>
            </div>
        </div>-->


        <div class="input-bonche form-group input-icon ">

            <span class="fa fa-user"></span>
            <input type="text" class="form-control" placeholder="first name" ng-model="student.first_name">

        </div>





        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user"></span>
            <input type="text" class="form-control" placeholder="second name"  ng-model="student.second_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-user"></span>
            <input type="text" class="form-control" placeholder="last name" aria-describedby="last_name" ng-model="student.last_name">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tags" id="registration_number"></span>
            <input type="number" class="form-control" placeholder="registration number" aria-describedby="registration_number" ng-model="student.registration_number">
        </div>

        <div class="input-bonche form-group input-icon">
            <span class="fa fa-tag"></span>
            <input type="email" class="form-control" placeholder="email " aria-describedby="email" ng-model="student.email">
        </div>

        <div class="input-bonche-2 form-group input-icon">
            <span class="fa fa-calendar" id="date_of_birth"></span>
            <input type="date" class="form-control" placeholder="date of birth " aria-describedby="date_of_birth" ng-model="student.date_of_birth">
        </div>










        <div class="row">

        <div class="col-xs-3">
            <h5 class="demo-panel-title">Class</h5>
            <select class="form-control select select-primary button-bonche input-lg" data-toggle="select" ng-model="student.class_id"

                    ng-options="value.id as value.name  group by value.created_at for value in classes" >

            </select>
        </div>

        <div class="col-xs-3 col-md-offset-4">
            <h5 class="demo-panel-title">parent</h5>
            <select class="form-control select select-info button-bonche input-lg" data-toggle="select" ng-model="student.parent_id"
                    ng-options="value.id as value.second_name  group by value.first_name for value in parents">

            </select>
        </div>
        </div>

    </form>


    <div class="row bonche-row">


        <div class="col-xs-3 col-md-offset-1">
            <!-- student-creation.html: -->
            <a ng-click="createNewStudent()" class="btn btn-small btn-primary">create new student</a>
        </div>


        <div class="col-xs-3 col-md-offset-3">
            <a ng-click="cancel()" class="btn btn-small btn-info">cancel</a>


        </div>





    </div>

</div>